@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark body{
    background-color: black;
    color: white;
}

.bdr{
    border: 1px solid red;
}
.flexCenter{
    display: flex;
    justify-content: center;
}
.form{
    max-width: 600px;
}

.form label{
    padding: 0.5rem 0;
    font-weight: 500;
}
.form input{
    color: #777;
    padding: 10px 50px 10px 10px;
    border: 1px solid #ccc;
}

@keyframe (max-width: 640px){
    .form input{
        padding: 5px 50px 5px 5px;
    }
}